/*  your css code here. If applicable */
.hero{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
    gap:1.5rem;
    padding:10px;
}
.img-section{
    width:fit-content;
    height: fit-content;
	
}
.img-section img{
    width:600px;
    height: 300px;
    object-fit:cover;
}
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
}
.hero-section h1{
    margin:0px;
}
.hero-section button{
    background-color: red;
    color:white;
    padding:6px;
    border-radius: 3px;
    border:none;
}